<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/game.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&display=swap"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='Scripts/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='Scripts/game.js') }}" defer></script>


</head>

<body>
    <header>
        <div class="title-nav-connection">
            <h1>Blind Test</h1>

            <nav>
                <div>
                    <a href="{{ url_for('info')}}">Information</a>
                    <a href="{{ url_for('home')}}">Accueil</a>
                    <a href="{{ url_for('type')}}">Style de music</a>
                </div>
            </nav>

            <section class="sign-in-log-in">
                {% if current_user.is_authenticated %}

                <a href="{{ url_for('account')}}" id="compte">compte</a>
                {% else %}
                <p>inscription / connection</p>
                <div>
                    <a href="{{ url_for('signin')}}" id="inscription">inscription</a>
                    <a href="{{ url_for('login')}}" id="connection">connection</a>
                </div>
                {% endif %}
            </section>

        </div>
    </header>

    <main>
        <div class="waiting-panel">
            <h2>Salle d'attente: {{code}}</h2>
            <div>
                <ul id="player-list">
                </ul>
            </div>
            <form id="upload-form">
                <input type="file" id="audio-file" accept="audio/*" multiple>
                <button type="submit">Upload</button>
            </form>
            <p id="ready-text">Vous n'êtes pas prêt</p>
            <button id="ready">Prêt</button>
        </div>

        <div class="game">
            <h2 id="action">En attente de la music...</h2>
            <div class="game-master">
                <ul id="player-awnser">

                </ul>
            </div>
            <div class="player">
    
            </div>
            <audio id="audio-player"></audio>
        </div>

        <div class="winner">
            <h2 id="winner-text"></h2>
            <ul id="ranking">
                
            </ul>
        </div>
    </main>

    <footer>
        @Credit: Touraud Baptiste
    </footer>

</body>

</html>