h2{
    text-align: center;
}

body.night-mode .waiting-panel,
body.night-mode .game,
body.night-mode .winner{
    border: solid rgb(185, 185, 185) 2px;
}

.waiting-panel, .game, .winner{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    margin: 20px 300px;
    border-radius: 30px;
}

.waiting-panel{
    display: flex;
}

.game, .winner{
    display: none;
}

#ready{
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(234deg, rgba(1, 106, 146, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#upload-form{
    margin: 20px;
}

@media screen and (max-width: 996px) {
    .waiting-panel{
        padding: 20px 150px;
    }

    .dropup-navbar button{
        position: absolute;
        right: 47%;
        top: 10%;
        display: flex;
    }

    .mobile-link{
        position: absolute;
        right: 42%;
    }
}