

.popup-inscription .popup{
    padding: 10px;
}
@media screen and (max-width: 996px) {

    .dropup-navbar button{
        position: absolute;
        right: 47%;
        top: 10%;
        display: flex;
    }

    .mobile-link{
        position: absolute;
        right: 42%;
    }
}