* {
    margin: 0;
}

body.night-mode{
    background-color: #121212;
    color: white;
}

body.night-mode a{
    color: white;
}

body.night-mode .title-nav-connection{
    border-bottom: solid rgb(185, 185, 185) 5px;
}

body.night-mode .dropdown-navbar path,
body.night-mode .dropup-navbar path{
    fill: #ffffff;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    font-weight: 400;

    background-color: #ffffff;
}

h1 {
    display: flex;
    align-items: center;
}

header p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main div {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    font-style: normal;
    padding-left: 30px;
    font-size: 18px;
}

.dropup-navbar button {
    display: none;
    background: none;
    border: none;
}

.mobile-navbar,
.dropdown-navbar button {
    display: none;
    background: none;
    border: none;
}

button:hover {
    opacity: 75%;
    cursor: pointer;
}

#inscription:focus,
#connection:focus {
    border: rgb(0, 15, 61) solid 2px;
    padding: 7px 13px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 17px;
    background-color: grey;
}

label {
    display: inline;
}

/* inscription / connection section */
.title-nav-connection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 5px;

}

.sign-in-log-in {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.sign-in-log-in a {
    border: none;
    display: inline-block;
    background: linear-gradient(234deg, rgba(1, 106, 146, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 30px 5px 30px 5px;
    padding: 9px 15px;
}

.sign-in-log-in #compte{
    margin-top: 12px;
}

/* Popup Section */

.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(234deg, rgba(1, 106, 146, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 30px;
    z-index: 1;

}

.popup div {
    padding: 20px;
}

.popup input {
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.popup input::placeholder {
    font-size: 1.2em;
}

.popup input[type='submit'] {
    margin: 20px;
    font-size: 1em;
}

.popup input[type='submit']:hover {
    cursor: pointer;
    opacity: 75%;
}

.popup input[type='submit']:focus {
    border: rgb(0, 15, 61) solid 2px;
    padding: 6px 9px;
}

.active {
    display: flex !important;
}

/* error */

.ul-Error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 650px;
    padding: 20px 0px;
    background-color: rgb(221, 124, 124);
    color: rgb(83, 0, 0);
    border: rgb(124, 0, 0) solid 2px;
}

.ul-Error li{
    padding: 0px 20px;
    margin: 0px 20px;
}

@media screen and (max-width: 996px) {

    h1 {
        font-size: 2em;
        display: flex;
    }
    
    .title-nav-connection{
        padding-bottom: 60px;
    }

    .title-nav-connection h1{
        position: fixed;
        left: 1%;
        top: 1%;
    }

    .sign-in-log-in {
        position: fixed;
        right: 1%;
        top: 0.5%;
        padding: 0px;
    }

    .sign-in-log-in a {
        padding: 4px 7px;
        font-size: 0.8em;
    }
    
    .sign-in-log-in #compte a {
        position: absolute;
        right: 1%;
        top: 1%;
    }

    .dropdown-navbar button{
        position: absolute;
        right: 47%;
        top: 1%;
        display: flex;
        padding-bottom: 20px;
    }
    
    .navbar{
        position: absolute;
        right: 45%;
        display: flex;
    }

    .dropup-navbar button{
        position: absolute;
        right: 47%;
        top: 7%;
        display: flex;
    }


    .navbar {
        display: none;
    }

    .mobile-navbar a,
    .dropup-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 10px;
    }

    .mobile-navbar{
        margin: 0px 70px;
    }

    .mobile-link{
        position: absolute;
        right: 43%;
    }

    .dropup-navbar img {
        transform: rotate(180deg);
    }
    
    .signin-login-error,
    .create-join-room-error{
        margin: 0 auto;
        padding: 50px;
        max-width: 100%;
    }

    .signin-login-error ul,
    .create-join-room-error ul{
        padding: 0px;
        margin: 0px;
    }

    .signin-login-error li,
    .create-join-room-error li{
        padding: 10px;
        margin-left: 40px;
    }
}

@media screen and (max-height: 750px) {

    .dropup-navbar button {
        position: absolute;
        right: 47%;
        top: 10%;
        display: flex;
    }
}